@font-face {
    font-family: Vazir;
    src: url("font/Vazir.eot");
    src: url("font/Vazir.eot?#iefix") format("embedded-opentype"),
    url("font/Vazir.woff") format("woff"),
     url("font/Vazir.ttf") format("truetype");
    font-weight: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box;font-family: Vazir;direction: rtl;}
body {
    background-color: rgb(220, 255, 252);
}
a {color: black; text-decoration: none;}
ul {display: flex; list-style: none;}
.Header {
    max-width: 700px;
    height: 120px;
    background-color: rgb(0, 52, 112);
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    position: relative;
    padding-top: 20px;
}
.Header h1 {
    text-align: center;
    color: white;
}
.box-menu {
    position: absolute;
    top:92px;
    right: calc(50% - 220px);
}
.box-menu li{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.box-menu li.active {
    background-color: rgb(0, 24, 46);
   
}
.box-menu li.active span {
    color: white;
}
.box-menu li span {
    font-size: 20px;
}